@model IEnumerable<WebApplication6.Models.Secciones>


<div class="container">
    <hr />
    <div class="alert alert-primary shadow">Menu de Secciones</div>

    <p>
        @Html.ActionLink("Añadir nueva seccion", "Create", null, new { @class = "btn btn-primary", data_modal = "" })
    </p>
    <div class="table-responsive shadow">
        <table class="table table-hover">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.Str_Seccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Max_Estudiantes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstudiantesAula)
            </th>
            <th>Opciones</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Str_Seccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Max_Estudiantes)
                </td>
                <td>
                    <p> @Html.DisplayFor(modelItem => item.EstudiantesAula) </p>
                </td>
                <td>
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id_Seccion },new { @class="btn btn-outline-danger",data_modal=""})
                </td>
            </tr>
        }

    </table>
    </div>

</div>
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

}