@model WebApplication6.Models.DetalleDeudor


@{
    Layout = "~/Views/Shared/_LayoutCartera.cshtml";
}

<div class="container">
    <hr />
    <h1 class="text-center alert-info">Ingreso de Concepto de Deudores</h1>
</div>

&nbsp;&nbsp;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-horizontal w-75">
            &nbsp;&nbsp;

            <div class="row">
                @Html.ActionLink("Registro de Pagos", "Index", "DetalleDeudors", null, new { @class = "btn btn-outline-info" })

            </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.IdDeudor, "Id Deudor", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IdDeudor, new { htmlAttributes = new { id = "deudorID", @class = "form-control", @Value = ViewBag.showId } })
                    @Html.ValidationMessageFor(model => model.IdDeudor, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdConceptop, "Id Concepto", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("IdConceptop", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdConceptop, "", new { @class = "text-danger" })
                </div>
            </div>





            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Crear" class="btn btn-success" /> |
                    @Html.ActionLink("Regresar", "Index", "Deudores", null, new { @class = "btn btn-dark" })
                </div>
            </div>
        </div>
    </div>
}
