@model WebApplication6.Models.Pago

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Caja.NumCaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caja.NumCaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cajero.Empleado.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cajero.Empleado.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaTransaccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaTransaccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEstudiante)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Pago }) |
    @Html.ActionLink("Back to List", "Index")
</p>
