@model WebApplication6.Models.CalendarioCurso

@{
    Layout = null;
}

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="">
            <div class="h2 shadow p-4 m-1 alert alert-success text-center"><strong>Editar periodo</strong> </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id_CalendarioCurso)

            <div class="form-group">
                @Html.LabelFor(model => model.Id_Curso, "Curso", htmlAttributes: new { @class = "control-label" })
                <div class="col-sm-10">
                    @Html.LabelForModel(Model.CursoEscolar.NombredeCurso, htmlAttributes:new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Id_Periodo, "Periodo", htmlAttributes: new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.DropDownList("Id_Periodo", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Periodo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Id_CursoAsignatura, "Materia", htmlAttributes: new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.DropDownList("Id_CursoAsignatura", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_CursoAsignatura, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 text-md-center">
                    <input type="submit" value="Guardo" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>

