@model WebApplication6.Models.Empleado

@{
    ViewBag.Title = "Edit";
}

    <div class="container">
        <br />
        <h2 class="alert alert-success border border-success text-center p-2">Editar Empleado</h2>


        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaNaci, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaNaci, new { htmlAttributes = new { @class = "form-control date", Value = @String.Format("{0:yyyy-MM-dd}", Model.FechaNaci) } })
                @Html.ValidationMessageFor(model => model.FechaNaci, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Domicilio, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Domicilio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Domicilio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Genero, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Genero, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Identificacion, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Identificacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Identificacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Codigo_Empleado, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Codigo_Empleado, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                @Html.ValidationMessageFor(model => model.Codigo_Empleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstadoCivil, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                <select class="form-control" name="EstadoCivil">
                    <option value="@Model.EstadoCivil">
                        @Model.EstadoCivil
                    </option>
                    @if (Model.EstadoCivil == "Soltero")
                    {
                        <option value="Casado">
                            Casado
                        </option>
                    }
                    else if (Model.EstadoCivil == "Casado")
                    {
                        <option value="Soltero">
                            Soltero
                        </option>
                    }


                </select>
                @Html.ValidationMessageFor(model => model.EstadoCivil, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dt_Contratacion, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dt_Contratacion, new { htmlAttributes = new { @class = "form-control date", Value = @String.Format("{0:yyyy-MM-dd}", Model.Dt_Contratacion) } })
                @Html.ValidationMessageFor(model => model.Dt_Contratacion, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstLogin, htmlAttributes: new { @class = "control-laber" })
            <div class="col-md-10">
                @Html.DisplayFor(modelitem => Model.FirstLogin)
                @Html.EditorFor(model => model.FirstLogin, new { htmlAttributes = new { @class = "form-control invisible", @readonly = "" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BL_ProfesorGuia, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.BL_ProfesorGuia)
                    @Html.ValidationMessageFor(model => model.BL_ProfesorGuia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" /> |

                @Html.ActionLink("Regresar", "Details", "Empleado", new { id = Model.Id }, new { @class = "btn btn-dark " })
            </div>
        </div>
    </div>
        }


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
