@model WebApplication6.Models.Cartera

@{
    Layout = "~/Views/Shared/_LayoutCartera.cshtml";
}


@{
    ViewBag.Title = "Create";
}

<div class="container">
    &nbsp;
    <h1 class="text-center alert-info">Crear Nuevo Cajero</h1>
    <hr />
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        &nbsp;
        <div class="form-horizontal w-75">




            <div class="form-group">
                @Html.LabelFor(model => model.codigo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Crear" class="btn btn-success" /> |
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-dark" })
                </div>
            </div>
        </div>
    </div>
}